body{
    margin: auto;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: pink;
}
header{
 
    color: rgb(177, 77, 180);
    margin-left: 35px;
    }

main{
    flex: auto;
    background: rgb(219, 159, 209);

    color: blanchedalmond;
    }

footer{
    display: flex;
    padding-top: 5px;
}

footer input {
flex: auto;
padding: 5px;

}